@import "frame";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;}
body{
  padding: 40px;
}
.list{
  list-style: none;
  padding: 0;
  text-align: center;
  li{
    float: left;
    margin-right:10px;
    p{
      margin-top: 10px;
    }
  }
}
